    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button (click)="opened =!opened"><mat-icon>menu</mat-icon>
        </button>
         <button mat-button><mat-icon>home</mat-icon></button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <mat-nav-list>
          <a mat-list-item>About</a> 
          <a mat-list-item routerLink="/login">Login</a>
          <a mat-list-item routerLink="/signup">Signup</a>
        <a mat-list-item>Contact</a>
        </mat-nav-list>
      </mat-sidenav>
        <mat-sidenav-content>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      
    </mat-sidenav-container>

  
   

  